@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
  background: #f9fafb;
  color: #111827;
}

/* Custom Colors */

:root {
  --primary: #111827;
  --accent: #7c3aed;
  --success: #10b981;
}

/* Reusable Utility Classes */

.bg-primary {
  background-color: var(--primary);
}

.text-primary {
  color: var(--primary);
}

.bg-accent {
  background-color: var(--accent);
}

.text-accent {
  color: var(--accent);
}

.border-accent {
  border-color: var(--accent);
}

.bg-success {
  background-color: var(--success);
}

.text-success {
  color: var(--success);
}

button,
a {
  transition: all 0.3s ease;
}


::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #e5e7eb;
}

::-webkit-scrollbar-thumb {
  background: #9ca3af;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6b7280;
}


input,
select,
textarea {
  outline: none;
}


.glass {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(12px);
}


.gradient-primary {
  background: linear-gradient(
    135deg,
    #7c3aed,
    #4f46e5
  );
}


.hover-card:hover {
  transform: translateY(-4px);
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.08);
}